@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=PT+Sans&family=Poppins:wght@300&family=Roboto+Slab&display=swap");
/* font-family: 'Kaushan Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Slab', serif; */

.navbar-nav {
    margin-left: auto;
  }
  .navbar .navbar-brand {
    font-family: "Kaushan Script", cursive !important;
    color: gold;
    letter-spacing: 2px;
    font-size: 1.5rem;
  }
  .navbar {
    background-color: rgba(216, 199, 42, 0.1);
    box-shadow: 0px 2px 20px rgba(216, 199, 42, 0.6);
    height: 8vh;
    background: #a6b8c2;
 
   
  }
  .dropdown-menu {
    color: antiquewhite;
    background-color: transparent;
  }
  .dropdown-menu a {
    color: white;
    letter-spacing: 1px;
    background-color: transparent;
  }
  .dropdown-menu a:hover {
    color: white;
    background-color: transparent;
  }
  
  .navbar-nav .nav-item .nav-link {
    color: aquamarine;
    letter-spacing: 1px;
    padding-left: 1.5rem;
    font-size: 1rem;
  }
  .navbar-nav .nav-item .nav-link:hover {
    color: white;
  }

.cart-table{
    margin-top: 20vh;
}
.table{
    border: 2px solid black;
}