@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=PT+Sans&family=Poppins:wght@300&family=Roboto+Slab&display=swap");
/* font-family: 'Kaushan Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Slab', serif; */
body {
  background: #e5e5e5;
}
.navbar-nav {
  margin-left: auto;
}
.navbar .navbar-brand {
  font-family: "Kaushan Script", cursive !important;
  color: gold;
  letter-spacing: 2px;
  font-size: 1.5rem;
}
.navbar {
  background-color: rgba(216, 199, 42, 0.1);
  box-shadow: 0px 2px 20px rgba(216, 199, 42, 0.6);
  height: 8vh;
  background: #2a3941;
}
.dropdown-menu {
  color: antiquewhite;
  background-color: transparent;
}
.dropdown-menu a {
  color: white;
  letter-spacing: 1px;
  background-color: transparent;
}
.dropdown-menu a:hover {
  color: white;
  background-color: transparent;
}

.navbar-nav .nav-item .nav-link {
  color: aquamarine;
  letter-spacing: 1px;
  padding-left: 1.5rem;
  font-size: 1rem;
}
.navbar-nav .nav-item .nav-link:hover {
  color: white;
}

#gift-row {
  display: flex;
  flex-wrap: wrap;
}

#products {
  background: #e5e5e5;
  padding-top: 10vh;
  /* background-image: linear-gradient( 110.5deg,  rgba(71,114,148,1) 14.9%, rgba(149,245,211,1) 77.9% ); */
}
#products h1 {
  letter-spacing: 2px;
  padding: 2rem;
  margin-top: 5vh;
}

#gift-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1em;
}
.card {
  text-align: center;
  align-items: center;
  margin: 2rem;
  border: none !important;
  background: #e5e5e5 !important;
  box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.3), inset 4px 4px 10px white;
  border-radius: 20px;
  width: 280px;
  height: 350px;
  padding: 40px;
}
.card img {
  padding-bottom: 20px;
  height: 10rem;
  width: 10rem;
}
.card:hover {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3), inset -4px -4px 10px white;
  transition: 0.3s;
}

.btn {
  /* margin: 3%;
  background-color: #33334d; */
  width: 120px;
  border-radius: 10px;
}
/* footer */

.footer-info {
  width: 100%;
  height: 7vh;
  display: flex;
  bottom: 0;
  position: fixed;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  background: #2a3941;
}
.footer-bottom {
  color: white;
  font-size: 0.8rem;
  /* justify-content: center; */
}

.social-icons ul {
  /* padding-top: 20px; */
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;
  justify-content: center;
  /* background-color: #33334d; */
}
.social-icons ul li .fa {
  color: white;
  padding-right: 28px;
  font-size: 25px;
  text-decoration: none;
}

/* cart */
#shopping-cart h1 {
  margin: 5vh;
}
.list-group {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.item-list {
  display: flex;
  justify-content: space-between;
  margin: 1px;
  background: #e5e5e5 !important;
  box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.3), inset 4px 4px 10px white;
  /* border-radius: 20px; */
}
.item-list p {
  display: flex;
  margin: 0px;
  align-items: center;
}

.total-list {
  display: flex;
  justify-content: center;
}
.total-list p {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0%;
}
#gift-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1rem;
}

.card {
  text-align: center;
  align-items: center;
  margin: 2rem;
  border: none !important;
  background: #e5e5e5 !important;
  box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.3), inset 4px 4px 10px white;
  border-radius: 20px;
  width: 280px;
  height: 350px;
  padding: 40px;
  font-size: 1rem;
}
.card img {
  padding-bottom: 20px;
  height: 10rem;
  width: 10rem;
}
.card-body {
  text-align: center;
}

.cart-container {
  display: flex;
  justify-content: center;
}
.cart-box {
  display: flex;
  flex-direction: column;
}
.cart-container .btn {
  background-color: rgb(247, 17, 13);
  width: 5rem;
}

h3 {
  text-align: center;
  padding: 3%;
}
.cart-bottom {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin-bottom: 30%;
  margin-top: 5%;

  align-items: center;
}

.cart-bottom .shoppingButton {
  background-color: #3f2b61;
  width: 12.5rem;
  /* padding-left: 5rem; */
}
.cart-bottom .checkoutButton {
  background-color: #14693d;
  width: 6.5rem;
  margin-left: 8rem;
}

/* checkout form */

#checkout {
  background-color: #293d3d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 0.9;
}
.checkout-container {
  margin-top: 5vh;
  margin: auto 100px;
  background-color: #94b8b8;
}
h2 {
  font-family: "Poppins", sans-serif;
  color: rgb(43, 41, 45);
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 1px rgb(126, 73, 224);
}
h4 {
  font-family: "Poppins", sans-serif;
  color: rgb(43, 41, 45);
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 1px rgb(126, 73, 224);
}

.checkout-container .btn {
  margin: 5px auto;
  font-family: "Poppins", sans-serif;
  background-color: rgb(43, 41, 45);
  letter-spacing: 1px;
  text-align: center;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgb(126, 73, 224);
}
/* breakpoints for sm , md, lg */
@media (max-width: 576px) {
  #products h1 {
    margin-top: 1vh;
  }
  .card {
    width: 200px;
    height: 260px;
    padding: 40px;
    margin: 1rem;
  }
  .card img {
    padding-bottom: 20px;
    height: 6rem;
    width: 6rem;
  }
  .social-icons ul li .fa {
    padding-right: 18px;
    font-size: 15px;
  }
  .footer-bottom {
    color: white;
    font-size: 0.5rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #products h1 {
    margin-top: 3vh;
  }
  .card {
    width: 230px;
    height: 275px;
    padding: 40px;
  }
  .card img {
    padding-bottom: 20px;
    height: 7rem;
    width: 7rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .card {
    width: 250px;
    height: 320px;
    padding: 40px;
  }
  .card img {
    padding-bottom: 20px;
    height: 9rem;
    width: 9rem;
  }
}
