@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=PT+Sans&family=Poppins:wght@300&family=Roboto+Slab&display=swap");
/* font-family: 'Kaushan Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Slab', serif; */

#reviews-body {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url("../images/about9.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-nav {
  margin-left: auto;
  /* background-color: black; */
}
.navbar .navbar-brand {
  font-family: "Kaushan Script", cursive !important;
  color: rgb(169, 174, 89);
  text-shadow: 1px 1px 1px rgb(164, 109, 45);
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url("../images/about9.jpg");
  box-shadow: 0px 2px 15px rgba(152, 172, 203, 0.6);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.dropdown-menu {
  color: antiquewhite;
  background-color: transparent;
}
.dropdown-menu a {
  color: white;
  letter-spacing: 1px;
  background-color: transparent;
}
.dropdown-menu a:hover {
  color: aquamarine;
  background-color: transparent;
  border-bottom: 1px solid aquamarine;
}

.navbar-nav .nav-item .nav-link {
  color: rgb(168, 194, 219);
  letter-spacing: 1px;
  padding-left: 1.5rem;
}
.navbar-nav .nav-item .nav-link:hover {
  color: aqua;
  border-bottom: 1px solid aquamarine;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section h2 {
  padding: 2vh;
  letter-spacing: 1.5px;
  font-family: "Poppins", sans-serif;
  color: rgb(169, 174, 89);
  text-shadow: 1px 1px 1px rgb(164, 109, 45);
}
.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 50vh;
  /* background: linear-gradient(
    rgba(220, 220, 220, 0.2),
    rgba(255, 255, 255, 0.1)
  ); */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  margin: 20px auto;
}

.carousel-caption h5 {
  color: rgb(216, 241, 90);
  /* text-shadow: 1px 1px 1px rgb(164, 109, 45); */
  padding: 15px;
  letter-spacing: 1px;
}

.carousel-caption p {
  /* padding: 15px; */
  margin-bottom: 5vh;
  font-family: "Poppins", sans-serif;
  color: rgb(225, 225, 224);
  font-size: 17px;
  letter-spacing: 1px;
}
.carousel-item img {
  margin: 20px auto;
  /* border-radius: 50px; */
  width: 70vw;
  height: 50vh;
  background: linear-gradient(rgba(47, 57, 103, 0.1), rgba(255, 255, 255, 0.1));
  border: 1px solid goldenrod;
}

.carousel-caption img {
  width: 60px;
  height: 60px;
  border: none;
}

/* footer */
.footer-info {
  width: 100%;
  height: 7vh;
  display: flex;
  bottom: 0;
  position: fixed;
  justify-content: space-between;
  flex-direction: row;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url("../images/about9.jpg");
  box-shadow: 0px 2px 15px rgba(204, 197, 232, 0.6);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-bottom {
  display: flex;
  color: whitesmoke;
  font-size: 0.9rem;
  align-items: flex-end;
}
.footer-bottom p {
  color: whitesmoke;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}
.social-icons .fa {
  align-items: center;
  justify-content: space-around;
  padding-right: 1.6rem;
  font-size: 1.6rem;
  color: white;
}
.social-icons a {
  text-decoration: none;
}
/*  */

/* breakpoints for sm , md, lg */
@media (max-width: 576px) {
  #navbarNavDropdown {
    background-color: rgba(25, 22, 51, 0.9);
  }
  .carousel-caption img {
    display: none;
  }
  .carousel-caption p {
    /* padding: 15px; */
    margin-bottom: 2vh;
    font-size: 7px;
  }

  .social-icons ul li .fa {
    padding-right: 18px;
    font-size: 15px;
  }
  .footer-bottom {
    color: white;
    font-size: 0.7rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #navbarNavDropdown {
    background-color: rgba(25, 22, 51, 0.9);
  }

  .carousel-caption img {
    display: none;
  }
  .carousel-caption p {
    /* padding: 15px; */
    margin-bottom: 2vh;
    font-size: 7px;
  }
  .social-icons ul li .fa {
    padding-right: 5vw;
    font-size: 0.8rem;
  }
  .footer-bottom {
    color: white;
    font-size: 0.8rem;
  }
}
