@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=PT+Sans&family=Poppins:wght@300&family=Roboto+Slab&display=swap');
/* font-family: 'Kaushan Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Slab', serif; */

#login-body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../images/user.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
    .navbar-nav{
         margin-left: auto;
         /* background-color: black; */

    }
    .navbar .navbar-brand {
        font-family: 'Kaushan Script', cursive !important;
        color: gold;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }
    
    .navbar{
        /* box-shadow: 0px 2px 20px rgba(216, 199, 42, 0.6); */
        background: linear-gradient(rgba(218, 216, 232, 0.1),rgba(218, 216, 232, 0.1)) ; 

    }
    .dropdown-menu{
        color: antiquewhite;
        background-color:transparent
    }
    .dropdown-menu a{
        color: white;
        letter-spacing: 1px;
        background-color:transparent;
        
    }
    .dropdown-menu a:hover{
        color: aquamarine;
        background-color:transparent;
        border-bottom: 1px solid aquamarine;
    }
    
    .navbar-nav .nav-item .nav-link{
        color: white;
        letter-spacing: 1px;
        padding-left: 1.5rem;
    }
    .navbar-nav .nav-item .nav-link:hover{
        color: aqua;
        border-bottom: 1px solid aquamarine;
    } 


section{
    width:100%;
    height:100vh;
    /* background: #1b1e29;  */
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url("../images/main2.jpg"); */

    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    /* background: #8b969b;  */
    background: linear-gradient(rgba(2, 1, 14, 0.6),rgba(1, 0, 9, 0.6)) ; 
    border-radius: 20px;
    /* box-shadow:10px 10px 50px green; */
    height: 50vh;
    width:25vw;
    height: 400px;
    width:350px;
    color: aliceblue;
}
.form-label{
    color: aqua;
}
.form-control{
    background-color: #d5e8f1;
    border-radius: 0%;
}
h4{
    font-family: 'Poppins', sans-serif;
    color: rgb(169, 174, 89);
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 1px rgb(164, 109, 45);
}

.form-head{
    color: black;
}
/* footer */
.footer-info {
    width: 100%;
    height: 7vh;
    display: flex;
    bottom: 0;
    position: fixed;
    justify-content: space-between;
    flex-direction: row;
    background: linear-gradient(rgba(218, 216, 232, 0.1),rgba(218, 216, 232, 0.1)) ; 
  }
  .footer-bottom {
    display: flex;
    color: whitesmoke;
    font-size: 0.9rem;
    align-items: flex-end;
  }
  .footer-bottom p{
    color: whitesmoke;
  
  }
  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
  
  }
  .social-icons .fa {
    align-items: center;
    justify-content: space-around;
    padding-right: 1.6rem;
    font-size: 1.6rem;
    color: white
  }
  .social-icons a {
    text-decoration: none;
  }
  